.pomodoro {
  width: 180px;
  height: 220px;
  position: fixed;
  top: 40%;
  right: -155px;
  z-index: 1;
  transition: 0.3s;
  background: rgba( 83, 83, 83, 0.25 );
  box-shadow: 0 8px 32px 0 rgba(50, 50, 50, 0.438);
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 6.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  flex-direction: row;
}

.active {
  right: 0;
}

.label {
  color: white;
  width: 30px;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  writing-mode: vertical-rl;
  padding: 2rem 0.2rem;
  height: 100%;
  transition: all 0.2s;
}

.label:hover {
  cursor: pointer;
  background-color: rgb(70, 70, 70);
}

.content  {
  color: white;
  width: 100%;
  border-left: 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timerTitle {
  color: white;
  margin-top: 1rem;
  font-size: large;
}

.timer {
  color: white;
  margin-top: 1rem;
}

.start {
  color: black;
  padding: 0.2rem 0.8rem;
  margin-top: 1rem;
  transition: 0.2s;
  border: 1px solid black;
}

.start:hover {
  cursor: pointer;
  background-color: rgb(201, 201, 201);
}