.infoBar {
  height: 1.3rem;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: fixed;
  bottom: 0;
}

.general, .date, .time, .weather, .progress, .volume {
  width: 20%;
  padding-left: 1rem;
}

.general {
  background-color: rgb(107, 18, 107);
}

.time {
  background-color: rgb(25, 44, 149);
}

.date {
  background-color: rgb(59, 74, 157);
}

.weather {
  background-color: rgb(80, 90, 144);
  width: inherit;
}

.progress {
  background-color: rgb(126, 42, 126);
}

.volume {
  background-color: rgb(166, 15, 166);
}