.audioControls {
  display: flex;
  width:  100%;
}

.audioControls .prev svg,
.audioControls .next svg {
  width: 35px;
  height: 35px;
}

.audioControls .play svg,
.audioControls .pause svg {
  height: 40px;
  width: 40px;
}

.audioControls path {
  fill: white;
}

.prev, .next, .play, .pause {
  cursor: pointer;
  border: none;
}

.prev::hover {
  cursor: pointer;

}